config/n8n_workflows/ai_decision.json
{
  "name": "AI Decision Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-decision",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ (($json[\"headers\"] && ($json[\"headers\"][\"x-webhook-secret\"] || $json[\"headers\"][\"X-Webhook-Secret\"])) || \"\") }}",
              "operation": "equal",
              "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "name": "Validate Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": "={{ [ { \"title\": \"AI Decision: \" + String((($json[\"body\"] && $json[\"body\"][\"decision\"]) ? $json[\"body\"][\"decision\"] : ($json[\"decision\"] ? $json[\"decision\"] : \"REJECT\"))), \"color\": (String((($json[\"body\"] && $json[\"body\"][\"decision\"]) ? $json[\"body\"][\"decision\"] : ($json[\"decision\"] ? $json[\"decision\"] : \"REJECT\"))).toUpperCase() === \"CONFIRM\" ? 5763719 : (String((($json[\"body\"] && $json[\"body\"][\"decision\"]) ? $json[\"body\"][\"decision\"] : ($json[\"decision\"] ? $json[\"decision\"] : \"REJECT\"))).toUpperCase() === \"REJECT\" ? 15548997 : 9807270)), \"fields\": [ { \"name\": \"Symbol\", \"value\": String((($json[\"body\"] && $json[\"body\"][\"symbol\"]) ? $json[\"body\"][\"symbol\"] : ($json[\"symbol\"] ? $json[\"symbol\"] : \"-\"))), \"inline\": true }, { \"name\": \"Regime\", \"value\": String((($json[\"body\"] && $json[\"body\"][\"regime\"]) ? $json[\"body\"][\"regime\"] : ($json[\"regime\"] ? $json[\"regime\"] : \"UNKNOWN\"))), \"inline\": true }, { \"name\": \"RSI\", \"value\": String((($json[\"body\"] && $json[\"body\"][\"rsi\"] !== undefined && $json[\"body\"][\"rsi\"] !== null && $json[\"body\"][\"rsi\"] !== \"\") ? $json[\"body\"][\"rsi\"] : (($json[\"rsi\"] !== undefined && $json[\"rsi\"] !== null && $json[\"rsi\"] !== \"\") ? $json[\"rsi\"] : \"-\"))), \"inline\": true }, { \"name\": \"Confidence\", \"value\": String((($json[\"body\"] && $json[\"body\"][\"confidence\"] !== undefined && $json[\"body\"][\"confidence\"] !== null && $json[\"body\"][\"confidence\"] !== \"\") ? $json[\"body\"][\"confidence\"] : (($json[\"confidence\"] !== undefined && $json[\"confidence\"] !== null && $json[\"confidence\"] !== \"\") ? $json[\"confidence\"] : \"-\"))), \"inline\": true } ], \"description\": String((($json[\"body\"] && $json[\"body\"][\"reason\"]) ? $json[\"body\"][\"reason\"] : ($json[\"reason\"] ? $json[\"reason\"] : \"No reason provided\"))).substring(0, 1500), \"footer\": { \"text\": \"CoinPilot AI Agent\" }, \"timestamp\": String((($json[\"body\"] && $json[\"body\"][\"timestamp\"]) ? $json[\"body\"][\"timestamp\"] : ($json[\"timestamp\"] ? $json[\"timestamp\"] : new Date().toISOString()))) } ] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Secret": {
      "main": [
        [
          {
            "node": "Discord Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
