config/n8n_workflows/ai_decision.json
{
  "name": "AI Decision Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-decision",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ (($json[\"headers\"] && ($json[\"headers\"][\"x-webhook-secret\"] || $json[\"headers\"][\"X-Webhook-Secret\"])) || \"\") }}",
              "operation": "equal",
              "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "name": "Validate Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": "={{ [ { \"title\": \"🤖 AI Decision: REJECT\", \"color\": 15158332, \"fields\": [ { \"name\": \"🪙 Symbol\", \"value\": $json[\"symbol\"], \"inline\": true }, { \"name\": \"📊 Regime\", \"value\": $json[\"regime\"], \"inline\": true }, { \"name\": \"📈 RSI\", \"value\": String($json[\"rsi\"]), \"inline\": true }, { \"name\": \"🎯 Confidence\", \"value\": String((($json[\"confidence\"] !== undefined) && ($json[\"confidence\"] !== null)) ? $json[\"confidence\"] : \"-\"), \"inline\": true } ], \"description\": $json[\"reason\"].substring(0, 1500), \"footer\": { \"text\": \"CoinPilot AI Agent\" }, \"timestamp\": $json[\"timestamp\"] } ] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Secret": {
      "main": [
        [
          {
            "node": "Discord Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
