config/n8n_workflows/daily_report.json
{
  "name": "Daily Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-report",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ (($json[\"headers\"] && ($json[\"headers\"][\"x-webhook-secret\"] || $json[\"headers\"][\"X-Webhook-Secret\"])) || \"\") }}",
              "operation": "equal",
              "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "name": "Validate Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": "={{ [ { \"title\": $json[\"title\"], \"color\": 3447003, \"fields\": [ { \"name\": \"💰 Total PnL\", \"value\": $json[\"pnl\"], \"inline\": true }, { \"name\": \"📊 Trades\", \"value\": String($json[\"trades\"]) + \"건\", \"inline\": true }, { \"name\": \"🎯 Win Rate\", \"value\": $json[\"win_rate\"], \"inline\": true }, { \"name\": \"📉 MDD\", \"value\": $json[\"mdd\"], \"inline\": true } ], \"description\": $json[\"summary\"], \"footer\": { \"text\": \"CoinPilot v3.0\" }, \"timestamp\": $json[\"timestamp\"] } ] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Secret": {
      "main": [
        [
          {
            "node": "Discord Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
