config/n8n_workflows/trade_notification.json
{
    "name": "Trade Notification",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trade",
                "responseMode": "onReceived",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ (($json[\"headers\"] && ($json[\"headers\"][\"x-webhook-secret\"] || $json[\"headers\"][\"X-Webhook-Secret\"])) || \"\") }}",
                            "operation": "equal",
                            "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
                        }
                    ]
                }
            },
            "name": "Validate Webhook Secret",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{$env.DISCORD_WEBHOOK_URL}}",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "embeds",
                            "value": "={{ [ { \"title\": ($json[\"side\"] === \"BUY\" ? \"🟢\" : \"🔴\") + \" Trade Executed: \" + $json[\"side\"], \"color\": ($json[\"side\"] === \"BUY\" ? 5763719 : 15548997), \"fields\": [ { \"name\": \"🪙 Symbol\", \"value\": $json[\"symbol\"], \"inline\": true }, { \"name\": \"💰 Price\", \"value\": String($json[\"price\"]).replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\") + \" KRW\", \"inline\": true }, { \"name\": \"📊 Quantity\", \"value\": String($json[\"quantity\"]), \"inline\": true } ], \"footer\": { \"text\": \"CoinPilot v3.0\" }, \"timestamp\": new Date().toISOString() } ] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Discord Webhook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Webhook Secret",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Webhook Secret": {
            "main": [
                [
                    {
                        "node": "Discord Webhook",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    }
}
