config/n8n_workflows/trade_notification.json
{
    "name": "Trade Notification",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trade",
                "responseMode": "onReceived",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ (($json[\"headers\"] && ($json[\"headers\"][\"x-webhook-secret\"] || $json[\"headers\"][\"X-Webhook-Secret\"])) || \"\") }}",
                            "operation": "equal",
                            "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
                        }
                    ]
                }
            },
            "name": "Validate Webhook Secret",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{$env.DISCORD_WEBHOOK_URL}}",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "embeds",
                            "value": "={{ [ { \"title\": \"Trade Executed: \" + String((($json[\"body\"] && ($json[\"body\"][\"side\"] || $json[\"body\"][\"action\"])) ? ($json[\"body\"][\"side\"] || $json[\"body\"][\"action\"]) : ($json[\"side\"] || $json[\"action\"] || \"-\"))), \"color\": (String((($json[\"body\"] && ($json[\"body\"][\"side\"] || $json[\"body\"][\"action\"])) ? ($json[\"body\"][\"side\"] || $json[\"body\"][\"action\"]) : ($json[\"side\"] || $json[\"action\"] || \"-\"))).toUpperCase() === \"BUY\" ? 5763719 : (String((($json[\"body\"] && ($json[\"body\"][\"side\"] || $json[\"body\"][\"action\"])) ? ($json[\"body\"][\"side\"] || $json[\"body\"][\"action\"]) : ($json[\"side\"] || $json[\"action\"] || \"-\"))).toUpperCase() === \"SELL\" ? 15548997 : 9807270)), \"fields\": [ { \"name\": \"Symbol\", \"value\": String((($json[\"body\"] && $json[\"body\"][\"symbol\"]) ? $json[\"body\"][\"symbol\"] : ($json[\"symbol\"] ? $json[\"symbol\"] : \"-\"))), \"inline\": true }, { \"name\": \"Price\", \"value\": String((($json[\"body\"] && $json[\"body\"][\"price\"] !== undefined && $json[\"body\"][\"price\"] !== null && $json[\"body\"][\"price\"] !== \"\") ? $json[\"body\"][\"price\"] : (($json[\"price\"] !== undefined && $json[\"price\"] !== null && $json[\"price\"] !== \"\") ? $json[\"price\"] : \"-\"))), \"inline\": true }, { \"name\": \"Quantity\", \"value\": String((($json[\"body\"] && $json[\"body\"][\"qty\"] !== undefined && $json[\"body\"][\"qty\"] !== null && $json[\"body\"][\"qty\"] !== \"\") ? $json[\"body\"][\"qty\"] : (($json[\"body\"] && $json[\"body\"][\"quantity\"] !== undefined && $json[\"body\"][\"quantity\"] !== null && $json[\"body\"][\"quantity\"] !== \"\") ? $json[\"body\"][\"quantity\"] : (($json[\"qty\"] !== undefined && $json[\"qty\"] !== null && $json[\"qty\"] !== \"\") ? $json[\"qty\"] : (($json[\"quantity\"] !== undefined && $json[\"quantity\"] !== null && $json[\"quantity\"] !== \"\") ? $json[\"quantity\"] : \"-\"))))), \"inline\": true } ], \"description\": String((($json[\"body\"] && $json[\"body\"][\"reason\"]) ? $json[\"body\"][\"reason\"] : ($json[\"reason\"] ? $json[\"reason\"] : \"-\"))), \"footer\": { \"text\": \"CoinPilot v3.0\" }, \"timestamp\": String((($json[\"body\"] && $json[\"body\"][\"timestamp\"]) ? $json[\"body\"][\"timestamp\"] : ($json[\"timestamp\"] ? $json[\"timestamp\"] : new Date().toISOString()))) } ] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Discord Webhook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Webhook Secret",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Webhook Secret": {
            "main": [
                [
                    {
                        "node": "Discord Webhook",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    }
}
