config/n8n_workflows/weekly-exit-report-workflow.json
{
  "name": "CoinPilot - Weekly Exit Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weekly-exit-report",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a5be9f91-cf0a-4b2d-955b-3d1d67d2b111",
      "name": "Webhook - Weekly Exit Report",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "weekly-exit-report"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ (($json[\"headers\"] && ($json[\"headers\"][\"x-webhook-secret\"] || $json[\"headers\"][\"X-Webhook-Secret\"])) || \"\") }}",
              "operation": "equal",
              "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "id": "9e0f8c35-0fac-4986-90f8-60f8618e8b99",
      "name": "Validate Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n    \"embeds\": [\n      {\n        \"title\": \"CoinPilot Weekly Exit Report\",\n        \"color\": 3447003,\n        \"description\": String((\n          \"기간: \" + String(($json[\"period_start\"] || ($json[\"body\"] && $json[\"body\"][\"period_start\"]) || \"-\")) +\n          \" ~ \" + String(($json[\"period_end\"] || ($json[\"body\"] && $json[\"body\"][\"period_end\"]) || \"-\")) +\n          \"\\nSELL 샘플: \" + String(($json[\"total_sells\"] || ($json[\"body\"] && $json[\"body\"][\"total_sells\"]) || 0)) + \"건\" +\n          \"\\n\\n요약:\\n\" + String(($json[\"summary\"] || ($json[\"body\"] && $json[\"body\"][\"summary\"]) || \"요약 없음\"))\n        ).substring(0, 1800)),\n        \"fields\": [\n          {\n            \"name\": \"제안\",\n            \"value\": String((((($json[\"suggestions\"] || ($json[\"body\"] && $json[\"body\"][\"suggestions\"])) || [])).join('\\n')) || \"없음\").substring(0, 1000),\n            \"inline\": false\n          },\n          {\n            \"name\": \"Rule Funnel\",\n            \"value\": String(((Object.entries((((($json[\"rule_funnel\"] || ($json[\"body\"] && $json[\"body\"][\"rule_funnel\"])) || {}).by_regime) || {})).map(([regime, bucket]) => regime + \": rule_pass=\" + String((((bucket[\"rule_pass\"] || {})[\"count\"]) || 0)) + \", risk_reject=\" + String((((bucket[\"risk_reject\"] || {})[\"count\"]) || 0)) + \", prefilter=\" + String((((bucket[\"ai_prefilter_reject\"] || {})[\"count\"]) || 0)) + \", guardrail=\" + String((((bucket[\"ai_guardrail_block\"] || {})[\"count\"]) || 0)) + \", ai_confirm=\" + String((((bucket[\"ai_confirm\"] || {})[\"count\"]) || 0)) + \", ai_reject=\" + String((((bucket[\"ai_reject\"] || {})[\"count\"]) || 0))).join('\\n')) || \"없음\").substring(0, 1000),\n            \"inline\": false\n          },\n          {\n            \"name\": \"Rule Funnel 제안\",\n            \"value\": String((((($json[\"rule_funnel_suggestions\"] || ($json[\"body\"] && $json[\"body\"][\"rule_funnel_suggestions\"])) || [])).join('\\n')) || \"없음\").substring(0, 1000),\n            \"inline\": false\n          }\n        ],\n        \"footer\": { \"text\": \"CoinPilot\" },\n        \"timestamp\": String(($json[\"timestamp\"] || ($json[\"body\"] && $json[\"body\"][\"timestamp\"]) || new Date().toISOString()))\n      }\n    ]\n  } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c2d45f31-e6f4-4966-9d44-fb2d9e34a222",
      "name": "Send Discord Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Weekly Exit Report": {
      "main": [
        [
          {
            "node": "Validate Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Secret": {
      "main": [
        [
          {
            "node": "Send Discord Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
